.main-container.recipes { display: block; margin: 30px 0 }
.main-container .recipies-section .no-recipes { font-size: 30px; }
.recipies-section  {  padding: 80px 0; display: flex; justify-content: space-between; flex-wrap: wrap; flex-direction: row; }
.recipies-section .inner-content p { margin-top: 25px; margin-bottom: 50px; font-size: 14px; line-height: 18px; color: #161418; font-weight: 400; }
.recipies-section .info-boxes.recipes { flex-basis: 31.5%; display: flex; flex-direction: column; margin-bottom: 20px; border-radius: 12px; background-color: #f1f4f6; }
.recipies-section .info-boxes.recipes+.info-boxes.recipes { padding-left: 0.022%; }
.recipies-section .info-boxes.recipes .img-holder { height: 70%; }
.recipies-section .info-boxes.recipes img { width: 100%; height: 100%; object-fit: cover; }
.recipies-section .info-boxes.recipes .info-holder { padding: 10px 20px; display: flex; flex-direction: column; box-sizing: border-box; max-height: 100px; }
.recipies-section .info-boxes.recipes .info-holder h3 { font-size: 26px; line-height: 30px; color: #161418; font-weight: 700; }
.recipies-section .info-boxes.recipes .info-holder p { font-size: 12px; line-height: 26px; min-height: 190px; }
.recipies-section .info-boxes.recipes .info-holder .read-more-btn { margin-top: -80px; }



@media only screen and (max-width: 1625px) { 
    .recipies-section .info-boxes.recipes .img-holder { height: 60%; }

}

@media only screen and (max-width: 1425px) { 
    .recipies-section .info-boxes.recipes .img-holder { height: 50%; }

}

@media only screen and (max-width: 1300px) { 
    .recipies-section .info-boxes.recipes { flex-direction: row; width: 100%; height: 50%; flex-basis: 90%; }
    .recipies-section .info-boxes.recipes img { width: 380px; height: 300px; display: block; }
    .recipies-section .info-boxes.recipes .info-holder .read-more-btn { margin-top: -50px; }

}

@media only screen and (max-width: 868px) { 
    .recipies-section .info-boxes.recipes .info-holder h3 { font-size: 20px; line-height: 24px; }
    .recipies-section .info-boxes.recipes img { width: 250px; height: 250px; display: block; }
    .recipies-section .info-boxes.recipes .info-holder .read-more-btn { margin-top: -60px; }
}

@media only screen and (max-width: 675px) { 
    .recipies-section .info-boxes.recipes img { width: 150px; height: 110px; display: block; }
    .recipies-section .info-boxes.recipes .info-holder p { display: none;}
    .recipies-section .info-boxes.recipes .info-holder .read-more-btn { margin-top: 0px; width: 100px; font-size: 10px; line-height: 14px; }
}

@media only screen and (max-width: 405px) { 
    .recipies-section .info-boxes.recipes {  flex-direction: column; }
    .recipies-section .info-boxes.recipes img {width: 100%; height: 200px; } 
}




