.main-container.welcome { padding: 25px 20px; display: flex; justify-content: space-between;  color: white; background-size: cover; font-size: 22px; }

.main-container.welcome .welcome-img { width: 500px; }

.main-container.welcome .header-main,
.main-container.welcome .login-text,
.main-container.welcome a { display: flex; justify-content: end; margin-top: 30px; padding: 0 5px;}
.main-container.welcome .btn-log { display: flex; justify-content: end; }
.main-container.welcome a .main-btn.home-btn { margin: 0; }

@media only screen and (max-width: 500px) { 
    .main-container.welcome { padding: 15px 10px; }
    .main-container.welcome .header-main { font-size: 16px; }
    .main-container.welcome .login-text { font-size: 12px; }
    .main-container.welcome .btn-log {  justify-content: center; }
    .main-container.welcome a .main-btn.home-btn { width: 100px; }
}
